*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin:10px

}

#genero {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#genero-op {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#genero-op input[type="radio"] {
    margin: 0;
}

#genero-op label {
    margin: 0;
    padding: 0;
}

header{
     display:flex;
    justify-content: center;
}
fieldset{
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    width:400px;

}
p{
    font-size: 10px;
    padding: 5px    ;
}
.conta{
     display:flex;
    justify-content: center;
}
.facil{
    display: flex;
    justify-content: center;
    color: #939393;
}

#nome {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    width:200px;
    max-width: 300px; 

}

#sobrenome{
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    width:200px;
    max-width: 300px; 


}
#email{
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    width:200px;
    max-width: 300px; 

}

#niver{
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    width:200px;
    max-width: 300px; 

}

#button{
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    background-color: green;
    color: white;
    
}

#niver-config{
    display: flex;
    justify-content:center;
}